.food-header {
    width: 100%;
    height: 600px;
    background-image: url("../../img/header.png");
    background-position: center;
    background-size: cover;
    background-color: gray;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}