.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: auto;
    background-color: rgba($color: $color-white, $alpha: 0.8);
    ul {
        list-style: none;
        display: flex;
        a {
            display: block;
            text-decoration: none;
            color: #333;
            padding: 1.2rem;
            transition: 0.4s all;
            &.active,
            &:hover {
                color: $primary-color;
                transition: 0.4s all;
            }
        }
    }
}